<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <% @cocktails.each do |cocktail| %>
        <tr>
          <td><%= link_to cocktail.name, cocktail %></td>

          <td>
            <%= link_to edit_cocktail_path(cocktail) do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </td>

          <td>
            <%= link_to cocktail, method: :delete, data: { confirm: 'Are you
            sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />

<%= link_to new_cocktail_path do %>
<button type="button" class="btn btn-primary">New Cocktail</button>
<% end %>
